{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}

<form action="/users/{{user.id}}/edit" method="POST">

<div class="h1">Edit User</div>

<div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstName" name="first-name" value="{{user.first_name}}">
</div>
<div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="last-name" value="{{user.last_name}}">
</div>
<div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input type="text" class="form-control" id="image" name="image-url">
    <div id="imgHelp" class="form-text">Leave this field blank to keep the same image.</div>
</div>
<button class="btn btn-primary">Update</button>

</form>

<a href="/users/{{user.id}}" class="btn btn-danger my-3">Cancel</a>


{% endblock %}
