{% extends 'base.html' %}

{% block title %}New Tag{% endblock %}

{% block content %}

<form action="/tags/new" method="POST" id="new-tag-form">

<div class="h1">New Tag</div>

<div class="mb-3">
    <label for="tag-name" class="form-label">Name</label>
    <input type="text" class="form-control" id="tag-name" name="tag-name">
</div>

</form>

<button class="btn btn-primary mb-3" type="submit" form="new-tag-form">Create</button>
<a href="/tags" class="btn btn-danger mb-3">Cancel</a>


{% include 'flash-alerts.html' %}


{% endblock %}
