{% extends 'base.html' %}

{% block title %}New Post for {{user.full_name}}{% endblock %}

{% block content %}

<form action="/users/{{user.id}}/posts/new" method="POST">

<div class="h1">New Post</div>

<div class="mb-3">
    <label for="post-title" class="form-label">Title</label>
    <input type="text" class="form-control" id="post-title" name="post-title">
</div>
<div class="mb-3">
    <label for="post-content" class="form-label">Content</label>
    <textarea class="form-control" id="post-content" rows="3" name="post-content" wrap="hard" style="white-space: pre-wrap;"></textarea>
</div>
<button class="btn btn-primary">Create</button>

</form>

<a href="/users/{{user.id}}" class="btn btn-danger my-3">Cancel</a>


{% endblock %}
