{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}

<div class="display-1 my-3">{{post.title}}</div>

<p style="white-space: pre-line;">{{post.content}}</p>

<p class="fw-lighter">Posted by <a href="/users/{{post.user.id}}">{{user.full_name}}</a></p>

<div class="my-3">
{% for tag in post.tags %}
<span class="badge rounded-pill bg-success">{{tag.name}}</span>
{% endfor %}
</div>

<a class="btn btn-primary" href="/posts/{{post.id}}/edit" role="button">Edit</a>
<form class="d-inline" action="/posts/{{post.id}}/delete" method="POST">
    <button class="btn btn-danger" role="button">Delete</button>
</form>

<a href="/users/{{post.user.id}}" class="btn btn-link">to author</a>

<form action="/comments/new?post-id={{post.id}}" method="POST" class="mt-5 mb-3">

    <input class="form-control" list="datalistOptions" id="comment-author" placeholder="Comment by" name="comment-author">
    <datalist id="datalistOptions">
        {% for user in all_users %}
        <option value="{{user.full_name}}">
        {% endfor %}
    </datalist>

    <div class="mb-3 mt-1">
        <textarea class="form-control" id="comment-text" rows="3" wrap="hard" style="white-space: pre-wrap;" placeholder="Add comment..." name="comment-text"></textarea>
    </div>
    <button class="btn btn-secondary">Submit</button>
</form>

{% include 'flash-alerts.html' %}

{% for comment in comments %}
<div>
    <span><strong>{{comment.author.full_name}}</strong> on <span class="text-muted">{{comment.created_at.strftime("%A, %d. %B %Y %I:%M%p")}}</span></span><a href="/comments/{{comment.id}}/delete?post-id={{post.id}}"><i class="fas fa-trash-alt text-danger mx-3"></i></a>
    <p>{{comment.text}}</p>
</div>
{% endfor %}

{% endblock %}
