<!-- to use this component pass the posts variable -->

<div class="list-group my-3">
    {% for post in posts %}
    <a href="/posts/{{post.id}}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post.title}}</h5>
        <small class="text-muted">{{post.created_at.strftime("%A, %d. %B %Y %I:%M%p")}}</small>
      </div>
      <p class="mb-1">{{post.content[0:100]}}{% if post.content|length > 100 %}{{'...'}}{% endif %}</p>
      <small class="text-muted">{{post.comments|length}} Comments</small>
      <small class="text-muted float-end">By {{post.user.full_name}}</small>
      {% for tag in post.tags %}
      <span class="badge rounded-pill bg-success">{{tag.name}}</span>
      {% endfor %}
    </a>
    {% endfor %}
</div>

