{% extends 'base.html' %}

{% block title %}Tags{% endblock %}

{% block content %}

<h1 class="mt-3">{{tag.name}}</h1>

<div class="mb-3"><span class="badge rounded-pill bg-success">{{tag.name}}</span></div>

<a class="btn btn-primary" href="/tags/{{tag.id}}/edit" role="button">Edit</a>
<form class="d-inline" action="/tags/{{tag.id}}/delete" method="POST">
    <button class="btn btn-danger" role="button">Delete</button>
</form>

<p class="my-3">Associated posts:</p>

{% include 'posts-list.html' %}

<div class="my-3"><button class="btn btn-link" onclick="history.back()">Back</button></div>


{% endblock %}
