{% extends 'base.html' %}

{% block title %}{{user.full_name}}{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-sm-3"><img class="img-fluid rounded" src="{{user.image_url}}" alt="profile-image"></div>
    <div class="col col-sm-9">
        <div class="h1">{{user.full_name}}</div>
        <a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button">Edit</a>
        <form class="d-inline" action="/users/{{user.id}}/delete" method="POST">
            <button class="btn btn-danger" role="button">Delete</button>
        </form>
    </div>
</div>

<div class="my-3"><a class="btn btn-primary" href="/users/{{user.id}}/posts/new" role="button">Add Post</a></div>

{% include 'posts-list.html' %}
<style></style>

{% endblock %}
