{% extends 'base.html' %}

{% block title %}{{user.full_name}}{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-sm-3"><img class="img-fluid" src="{{user.image_url}}" alt="profile-image"></div>
    <div class="col col-sm-9">
        <div class="h1">{{user.full_name}}</div>
        <a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button">Edit</a>
        <form class="d-inline" action="/users/{{user.id}}/delete" method="POST">
            <button class="btn btn-danger" role="button">Delete</button>
        </form>
        <div class="my-3"><a class="btn btn-link" href="/users" role="button">Back</a></div>
    </div>
</div>

<div class="my-3"><a class="btn btn-primary" href="/users/{{user.id}}/posts/new" role="button">Add Post</a></div>

<div class="list-group my-3">
    {% for post in posts %}
    <a href="/posts/{{post.id}}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post.title}}</h5>
        <small class="text-muted">{{post.created_at.strftime("%A, %d. %B %Y %I:%M%p")}}</small>
      </div>
      <p class="mb-1">{{post.content[0:100]}}{% if post.content|length > 100 %}{{'...'}}{% endif %}</p>
      <small class="text-muted">0 Comments</small>
    </a>
    {% endfor %}
</div>


{% endblock %}
